<div class="banner-deg" style="background: url(/images/profile.jpg) no-repeat center center / cover;"></div>
<div class="container-fluid content">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8">
        <h1>Error!</h1>
        <h2>There was an error on the server!</h2>
      </div>
    </div>
  </div>
</div>