<div class="banner-deg" style="background: url(/images/profile.jpg) no-repeat center center / cover;"></div>
<div class="container-fluid content">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8">
        <h1>404 Error</h1>
        <h2>This route does not exist on the app! Check if everything is ok!</h2>
      </div>
    </div>
  </div>
</div>